version: "3.9"
services:
    web:
        build: .
        command: /code/run.sh
        volumes:
            - .:/code
        ports:
            - 8000:8000
        depends_on:
            - db.curiescience.com
    db.curiescience.com: # Note that this 
        image: postgres:13
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        environment:
            - "POSTGRES_PASSWORD=curiescience"
            - "POSTGRES_HOST_AUTH_METHOD=trust"
    iam.curiescience.com:
        image: quay.io/keycloak/keycloak:23.0.6
        ports:
            - "8080:8080"
        environment:
            KC_HTTP_ENABLED: true
            KC_FEATURES: scripts
            KEYCLOAK_ADMIN: admin
            KEYCLOAK_ADMIN_PASSWORD: admin
        command:
            - start-dev
            - --import-realm
        volumes:
            - ./keycloak/keycloak_data:/opt/keycloak/data
            - ./keycloak/deployment:/opt/keycloak/providers
volumes:
        postgres_data:
