<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pseudonymize Data</title>
</head>
<body>
    <h2>Links</h2>
    <ul>
        <li><a href="{% url 'ehr:pseudonymize_data' %}">Pseudonymize</a></li>
        <li><a href="{% url 'ehr:de-pseudonymize_data' %}">De-Pseudonymize</a></li>
        <li><a href="{% url 'ehr:patient-profile' %}">Patient Profile Information</a></li>
        <li><a href="{% url 'users:auth' %}">Authentication</a></li>
        <li><a href="{% url 'users:consent' %}">Consent</a></li>
    </ul>
</body>
</html>
